<p id="notice"><%= notice %></p>

<p>
  <strong>Avatar:</strong>

  <% if @profile.avatar_url != nil %>
    <%= image_tag @profile.avatar_url, class: "image-small" %>
  <% else %>
    Nothing to see here...
  <% end %>
</p>

<p>
  <strong>Username:</strong>
  <%= @profile.username %>
</p>

<p>
  <strong>Name:</strong>
  <%= @profile.name %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @profile.bio %>
</p>

<p>
  <strong>Age:</strong>
  <%= @profile.age %>
</p>

<% if @profile == current_user.profile %>
  <%= link_to 'Edit Profile', edit_profile_path(@profile) %>
<% end %>
