<div class="container">
  <p id="notice"><%= notice %></p>

  <div class="row">
    <div class="col-6 text-center">
      <div class="row">
        <div class="col">
          <% if @profile.avatar_url != nil %>
            <%= image_tag @profile.avatar_url, class: "image-small image-circle" %>
          <% else %>
            <!-- blank -->
          <% end %>
        </div>
      </div>

      <div class="row pt-5 pb-3">
        <div class="col font-weight-bold">
          <%= @profile.username %>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <%= @profile.name + ", age " + @profile.age %>
        </div>
      </div>

    </div>
    <div class="col-6">
      <%= @profile.bio %>
    </div>
  </div>

  <div class="row pt-5">
    <div class="col text-center">
      <% if @profile == current_user.profile %>
        <%= link_to 'Edit Profile', edit_profile_path(@profile) %>
      <% end %>
    </div>
  </div>



</div>
