<div class="container">
  <p id="notice"><%= notice %></p>

  <div class="row">
    <div class="col pb-4 text-center">
      <h1>Photos</h1>
    </div>
  </div>

  <div class="row">
    <div class="col text-center">
      <%= link_to 'New Photo', new_photo_path %>
    </div>
  </div>

  <% @photos.each do |photo| %>
    <div class="container text-center mt-3 pb-3 photo-container rounded">
      <div class="row">
        <div class="col-12">
          <%= image_tag photo.image_url, class: "image-full-size" %>
        </div>
      </div>
      <div class="row">
        <div class="col">

          <div class="row">
            <div class="col image-caption">
              <%= photo.caption %>
            </div>
          </div>

          <div class="row pt-5 pb-5">
            <div class="col d-flex justify-content-end font-weight-bold">

              <%= link_to profile_path(photo.user) do %>
                <%= photo.user.email %>
              <% end %>

            </div>
            <div class="col d-flex justify-content-start">
              <%= button_to follow_user_path(photo.user), method: "put", class: "btn btn-info" do %>

                <% if current_user.following?(photo.user) %>
                  Unfollow
                <% else %>
                  Follow
                <% end %>

              <% end %>
            </div>
          </div>





        </div>
      </div>

      <div class="row">
        <div class="col">

          <%= button_to like_photo_path(photo), method: "put", class: "btn btn-success" do %>

            <span><%= photo.get_likes.size %></span> Likes

          <% end %>

        </div>
        <div class="col">

          <%= button_to dislike_photo_path(photo), method: "put", class: "btn btn-danger" do %>

            <span><%= photo.get_dislikes.size %></span> Dislikes

          <% end %>

        </div>
      </div>
      <div class="row">
        <div class="col">
          <%#= link_to 'View', photo %>
          <% if photo.user == current_user %>
            <%= link_to 'Edit', edit_photo_path(photo) %>
            <%= link_to 'Delete', photo, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

  <br>

</div>
