<div class="container text-center">
  <p id="notice"><%= notice %></p>

  <div class="row">
    <div class="col">
      <%= image_tag @photo.image_url, class: "image-full-size" %>
    </div>
  </div>

  <div class="row pt-3 pb-5">
    <div class="col font-weight-bold image-caption">
      <%= @photo.caption %>
    </div>
  </div>

  <div class="row">
    <div class="col pb-5">
      <%= link_to 'Edit', edit_photo_path(@photo) %> |
      <%= link_to 'Back', photos_path %>
    </div>
  </div>

</div>
